
.easylogo{
	position: relative;
  left: 400px;
}

.normallogo{
	position: relative;
	left: 600px;
}

.hardlogo{
	position: relative;
	left: 800px;
}

.result{
	position: relative;
	top:-200px;
	left: 30px;
}

.result_disp{
	position: relative;
	top: 50px;
}

.kunaicho{
  position:relative;
  top: 50px;
  left: 200px;

}



a {
  display: inline-block;
  width: 200px;
  height: 25px;
  background:#2775f4 ;
  text-align: center;
  color: #ffffff;
}            
